Localization
{
	en-us
	{
		//"#LOC_KP_"
		#loc_BDArmory_modname = Kerbal Power Dynamics

		//Tropath Macrodynamics
		#LOC_Tropath_title = Tropath Macrodynamics
		#LOC_Tropath_description = Space guys

		//Onicron
		#LOC_Onicron_title = Onicron
		#LOC_Onicron_description = Radar guys
	
		//GNC
		#LOC_GNC_title = GNC Missile Systems
		#LOC_GNC_description = Missile guys (MBDA: Gladia-Nujan-Cythen)
		
		//***Ones with career agencies***
		
		//Corain Motors
		#LOC_Corain_title = Corain Motors
		#LOC_Corain_description =  Corain Motors is a Zeoulian aero-engine, generator, and nuclear reactor manufacturer.
		
		//Gladia Fleetworks
		#LOC_Gladia_title = Gladia Fleetworks
		#LOC_Gladia_description = Gladia Fleetworks is a Zeoulian shipbuilding, naval technology and defense company.
		
		//Nujan Dynamics Group
		#LOC_Nujan_title = Nujan Dynamics Group
		#LOC_Nujan_description = The Nujan Dynamics group is an Aontan defence manufacturer specialising in armored vehicle systems.
		
		//Milik Avionic Systems
		#LOC_MAS_title = Milik Avionic Systems
		#LOC_MAS_description = Milik Avionic Systems is a Yantar aerospace company, specialising in missile and flight systems.
		
		//Triple-Dip Systems
		#LOC_TripleDip_title = Triple-Dip Systems
		#LOC_TripleDip_description = Triple-Dip Systems is currently under investigation by the Kerbal Space Centre for tax related offences.
		
    }
}


